/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --header-color: #000100;
    --footer-color: #0F330F;
    --title-color: #174D17;
    --btn-color: #009900;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.hide {
    display: none;
}

section {
    padding: 15px;
}

/* deshboard */

.ds-header {
    height: 60px;
    background-color: var(--header-color);
    color: #fff;
    padding: 15px;
}

.ds-nav {
    display: flex;
}

.ds-a {
    text-decoration: none;
    display: flex;
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin: 0 2px;
    overflow: hidden;
    margin-right: 2px;
    transition: opacity 0.3s;
}

.ds-a:hover {
    opacity: 0.8;
}

.ds-a img {
    width: 100%;
}

.ds-section {
    padding: 0;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.ds-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.ds-aside {
    width: 100%;
    height: 100%;
}

@media (min-width: 820px) {
    .ds-section {
        display: flex;
    }

    .ds-iframe {
        width: 80%;
    }

    .ds-aside {
        flex: 1;
    }
}

@media (min-width: 1180px) {
    .ds-iframe {
        width: 70%;
    }
}

.ds-footer {
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 20px;
    background-color: var(--footer-color);
    color: #fff;
}

@media print {

    .ds-aside,
    .ds-header,
    .ds-footer {
        display: none;
    }
}

/* tables */

table {
    border-collapse: collapse;
    border: 1px solid #000;
}

tr,
th,
td {
    border: 1px solid #000;
    padding: 4px 8px;
}

/* forms */

.btn,
input,
button,
select {
    padding: 4px 8px;
    font-size: 16px;
    border: 1px solid var(--footer-color);
    border-radius: 4px;
    outline-color: var(--title-color);
    margin-bottom: 10px;
}

.btn,
button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--btn-color);
    color: #fff;
    transition: all 0.4s;
}

button:hover,
.btn:hover {
    filter: brightness(200%);
    cursor: pointer;
}

/* Tipografia */

h1, h2, h3, h4 {
    color: var(--title-color);
    margin-bottom: 15px;
}