* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ds-header {
    height: 60px;
    background-color: #000100;
    color: #fff;
    padding: 15px;
}

.ds-nav {
    display: flex;
}

.ds-a {
    text-decoration: none;
    display: flex;
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin: 0 2px;
    overflow: hidden;
    margin-right: 2px;
}

.ds-a img {
    width: 100%;
}

.ds-section {
    height: calc(100vh - 80px);
}

.ds-footer {
    height: 20px;
    background-color: #333;
    color: #fff;
}