#rpetiqueta {
  padding: 0 15px;
}

#rpetiqueta div {
  width: 33.3333%;
  border: 1px solid #000;
  float: left;
  padding: 10px;
}

.destaque{
  margin: 10px 0;
  font-size: 22px;
  color: red;
}

@media print {
  .machine {
    display: none;
  }

  #rpetiqueta {
    padding: 0;
  }
}

/* model */

.et-modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.et-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.et-modal h3 {
  text-align: center;
}

.et-modal form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.et-modal form div span {
  width: max-content;
  margin-right: 10px;
}

.et-modal form div span:last-child {
  margin-left: 15px;
}

.et-modal form div input {
  width: 100%;
  margin: 0;
}