#rpetiqueta {
  padding: 0 15px;
}

#rpetiqueta div {
  width: 33.3333%;
  border: 1px solid #000;
  padding: 10px;
  float: left;
}

.destaque {
  margin: 10px 0;
  font-size: 22px;
  color: red;
}

@media print {
  .machine {
    display: none;
  }

  #rpetiqueta {
    padding: 0;
  }
}